<table border="1">
   <caption><%= @test.title %></caption>
  <tr>
    <th> Id </th>
    <th> Question </th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.id %></td>
    <td><%= question.body %></td>
  </tr>
  <% end %>
</table>
