<p> Создание нового вопроса:</p>
<form action="/tests/<%= params[:test_id] %>/questions/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="question-body">Вопрос</label><br>
  <input type="text" id="question-body" name="question[body]"><br><br>
  <input type="submit" value="Create">
</form>
