 <h1><%= t('mailers.tests.completed_test.greeting') %></h1>

<p>
  <%= t('mailers.tests.completed_test.message', test_name: @test.title) %>
  <%= link_to t('mailers.tests.completed_test.more'), tests_url %>
</p>
