<div class="d-flex justify-content-center mt-2">
  <%= image_tag(@badge.image.url, width: 400, height: 400) %>
</div>
<div class="mb-3 mt-3">
  <%= link_to t('common.back'), admin_badges_path(@badge), class: "btn btn-primary" %>
</div>
