<div>
  <p>
    <%= current_year %> |
    Автор: Виталий Супрон |
    <%= github_url('supronva-github', 'test-guru') %>
  </p>
  <p>
    Проект связан с прохождением тестов различных тематик |
    <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: '_blank' %>
  </p>
</div>
