<p><%= @answer.body %></p>

<div class="mt-2">
  <%= link_to t('common.edit'), edit_admin_answer_path(@answer), class: "btn btn-primary" %>
  <%= link_to t('common.back'), admin_question_path(@answer.question), class: "btn btn-primary" %>
</div>
