<table border="1">
   <caption>Список тестов: </caption>
  <tr>
    <th> Id </th>
    <th> Test name </th>
    <th> Level </th>
    <th> Count questions </th>
    <th colspan="3"> Action </th>
  </tr>
 
  <%= render @tests %>
</table>

<%= link_to 'Create new test', new_admin_test_path %>
