<table border="1">
   <caption>Список тестов: </caption>
  <tr>
    <th> Id </th>
    <th> Test name </th>
    <th> Level </th>
    <th> Count questions </th>
  </tr>
 
  <%= render @tests %>
</table>
